.Alayer1 {
  position: absolute;
  left: 5%;
  top: -10%;
}
.Alayer2 {
  position: absolute;
  left: 70%;
  top: 2%;
}
.Alayer3 {
  position: absolute;
  left: 2%;
  top: 0%;
}
.Alayer4 {
  position: absolute;
  left: 25%;
  top: 85%;
}
.Alayer5 {
  position: absolute;
  left: 15%;
  top: 0%;
}
.Alayer6 {
  position: absolute;
  left: 77%;
  top: 15%;
}
.aboutus-container {
  display: flex;
  gap: 40px;
}
.a-main-text {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.a-main-text-title {
  color: #1b1b1b;
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 130%;
}
.a-main-text-sub-title {
  color: #1b1b1bb2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 90%;
}

.a-support-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section {
  display: flex;
  gap: 12%;
  margin-top: 17%;
  position: relative;
}
.main-image {
  width: 567px;
  height: 548px;
  border-radius: 50;
  margin: 0% 5%;
}
.overlay-image {
  width: 307px;
  height: 239px;
  border-radius: 50;
  position: absolute;
  top: -17%;
  left: 22%;
}

.benefits-list {
  margin-top: 5%;
  margin-left: 6%;
}

.benefit-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.benefit-icon {
  width: 46px;
  height: 46px;
}

.benefits-title {
  font-size: 24px;
  font-weight: 500;
  color: #1b1b1b;
}

.benefits-description {
  font-size: 18px;
  font-weight: 400;
  color: #1b1b1b;
  width: 70%;
  opacity: 0.8;
}
.about-text {
  font-size: 56px;
  font-weight: 600;
  line-height: 84px;
}
.about-sub-text {
  width: 80%;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}
.a-main-container {
  display: flex;
  gap: 40px;
  margin-top: 10%;
  position: relative;
}
.customer-image-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
.youtube-image {
  width: 555;
  height: 415;
  border-radius: 30;
}
.academy-container {
  margin-top: 10%;
  position: relative;
}
.academy-text {
  font-size: 56px;
  font-weight: 600;
  line-height: 84px;
  text-align: center;
}
.academy-sub-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b1b1b;
  opacity: 0.8;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-container-1 {
  display: flex;
  padding: 0 5%;
  gap: 30px;
  margin-top: 5%;
}
.card-container-2 {
  display: flex;
  padding: 0 5%;
  gap: 30px;
}
.academy-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}
.card-image {
  width: 62px;
  height: 62px;
  margin-bottom: 10px;
}
.card-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 10px;
  color: #1b1b1b;
}
.card-subtitle {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 10px;
}
