.Clayer1 {
  position: absolute;
  left: 10%;
  top: 0%;
}
@media (max-width: 768px) {
  .Clayer1 {
    position: absolute;
    left: 2%;
    top: 0%;
  }
}
.Clayer2 {
  position: absolute;
  left: 75%;
  top: 70%;
}
@media (max-width: 768px) {
  .Clayer2 {
    left: 75%;
    top: 70%;
  }
}
.course-desc {
  font-size: 18px;
  font-weight: 400;
  color: #1b1b1b;
  opacity: 80%;
  width: 50%;
  text-align: center;
}
.card-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 8%;
}
.learn-more-link {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.learn-more-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fa-arrow-right-long {
  display: flex;
  align-items: center;
}
.batch-container {
  border-radius: 130px;
  border: 2px solid #473fe1;
  margin-right: 8%;
  margin-left: 8%;
  padding: 2% 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
}
.batch-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.course-title {
  font-size: 24px;
  font-weight: 500;
}
.batch-details {
  display: flex;
  gap: 40px;
  align-items: center;
}
.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.batch-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.info-icon {
  width: 38px;
  height: 38px;
}

.info-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.slots-left {
  font-weight: 600;
}

.enroll-button {
  font-size: 16px;
  font-weight: 500;
  background-color: #0780fd;
  border-radius: 100px;
  width: 176px;
  height: 43px;
  color: #ffffff;
}
.demo-container {
  background-color: #473fe1;
  border-radius: 80px;
  margin: 8%;
  padding: 5%;
  display: flex;
  position: relative;
}
.demo-title {
  font-size: 49px;
  font-weight: 600;
  color: #ffffff;
  width: 70%;
  line-height: 68.6px;
}

.demo-description {
  font-size: 18px;
  font-weight: 400;
  opacity: 80%;
  color: #ffffff;
  width: 70%;
  line-height: 34px;
}
