.Clayer1 {
  position: absolute;
  left: 15%;
  top: 15%;
  width: 54px;
  height: 54px;
}
@media (max-width: 768px) {
  .Clayer1 {
    left: 5%;
    top: 10%;
    width: 54px;
    height: 54px;
  }
}
.Clayer2 {
  position: absolute;
  top: -3%;
  left: 82%;
  width: 42px;
  height: 85px;
}

.Clayer3 {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 54px;
  height: 54px;
}
@media (max-width: 768px) {
  .Clayer3 {
    left: 5%;
    top: 1%;
    width: 54px;
    height: 54px;
  }
}
.cont-title {
  font-size: 52px;
  font-weight: 700;
  color: #141f39;
  width: 50%;
  text-align: center;
}
@media (max-width: 768px) {
  .cont-title {
    font-size: 24px;
    width: 85%;
    line-height: 36px;
  }
}
.cont-desc {
  font-size: 18px;
  font-weight: 400;
  color: #1b1b1b;
  opacity: 80%;
  width: 35%;
  text-align: center;
  line-height: 34px;
}
@media (max-width: 768px) {
  .cont-desc {
    font-size: 15px;
    width: 90%;
    line-height: 22.5px;
  }
}
.card-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 8%;
}
.courseservices-card-image {
  width: 62px !important;
  height: 62px !important;
}
@media (max-width: 768px) {
  .courseservices-card-image {
    width: 54px;
    height: 54px;
  }
}
.courseservices-card-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 8%;
}
.courseservices-card-title {
  font-size: 20px;
  font-weight: 600;
  color: #141f39;
  margin: 0;
}
@media (max-width: 768px) {
  .courseservices-card-title {
    font-size: 18px;
  }
}
.courseservices-card-description {
  font-size: 16px;
  font-weight: 400;
  color: #5d6c7c;
  width: 100%;
  margin-top: 0;
  line-height: 130%;
}
@media (max-width: 768px) {
  .courseservices-card-description {
    font-size: 15px;
    line-height: 24px;
  }
}
.learn-more-link {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.learn-more-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .learn-more-link {
    font-size: 15px;
    font-weight: 500;
  }
}
.fa-arrow-right-long {
  display: flex;
  align-items: center;
}
.batch-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.offl-btn {
  font-size: 18px;
  font-weight: 600;
  width: 231px;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .offl-btn {
    font-size: 12px;
    width: 152px;
    height: 32px;
  }
}
.course-title {
  font-size: 24px;
  font-weight: 500;
  color: #141f39;
}
@media (max-width: 768px) {
  .course-title {
    font-size: 18px;
    font-weight: 600;
  }
}
.batch-details {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 768px) {
  .batch-details {
    flex-direction: column;
    gap: 2px;
    align-items: normal;
  }
}
.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.batch-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.info-icon {
  width: 38px;
  height: 38px;
}

.info-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
  color: #3c4b5b;
}
@media (max-width: 768px) {
  .info-text {
    font-size: 16px;
  }
}
.slots-left {
  font-weight: 600;
}

.enroll-btn {
  font-size: 16px;
  font-weight: 500;
  width: 176px;
  height: 56px;
}
@media (max-width: 768px) {
  .enroll-btn {
    width: 100% !important;
    height: 44px !important;
    font-size: 15px;
    margin-top: 6%;
  }
}

.free-demo {
  font-size: 18px;
  font-weight: 500;
  width: 187px;
  height: 40px;
}
@media (max-width: 768px) {
  .free-demo {
    font-size: 14px;
    width: 143px;
    height: 34px;
  }
}
.course-stats-grid {
  background-color: #efeeff80;
  padding: 4%;
  gap: 20px;
  justify-content: space-evenly;
  position: relative;
  display: flex;
}
@media (max-width: 768px) {
  .course-stats-grid {
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;
    padding: 15% 5%;
    gap: 20px;
    text-align: center;
  }
}
