.Clayer1 {
  position: absolute;
  left: 10%;
  top: 0%;
}
.Clayer2 {
  position: absolute;
  left: 75%;
  top: 70%;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 40px;
  margin: 5%;
}
.image-container {
  border-radius: 30px;
  overflow: hidden;
}

.image-container img {
  width: 600px;
  height: 420px;
  object-fit: cover;
}
