.faq-content {
  width: 100% !important;
  padding-right: 45% !important;
  display: flex;
  align-items: center;
  margin: 5% 0%;
}
@media (max-width: 768px) {
  .faq-content {
    width: auto !important;
    padding-right: 4% !important;
    padding-left: 4% !important;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  width: 700px;
}
@media (max-width: 768px) {
  .row {
    width: 220% !important;
  }
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 600px));
  gap: 80px;
  justify-content: center;
  align-items: center;
}
.col-lg-6 {
  flex: 0 0 auto;
  /* width: 100%; */
}
.accordion-header {
  /* working */
  margin-bottom: 0;
  /* width: 240%; */
}
.faq_section {
  width: 100%;
  position: relative;
  @media (max-width: 991px) {
    overflow: hidden;
  }
}
.faq_section .content {
  position: relative;
}
.faq_section .content::after {
  content: "";
  /* background-color: rgb(38, 0, 255); */
  width: 500px;
  height: 200px;
  position: absolute;
  top: 400px;
  left: 0;
  filter: blur(200px);
  z-index: -2;
}
.faq_section .accordion {
  border: 0;
}
.faq_section .accordion .accordion-item {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: 0;
  color: #fff;
}
.faq_section .accordion .accordion-item .accordion-button {
  background-color: #fff;
  box-shadow: none;
  border-radius: 16px;
  padding: 24px 45px 24px 24px;
  font-weight: 500;
  font-size: 24px;
  width: 400%;
  /* border: 8px solid #377dff; */
  border-bottom: none;
}
@media (max-width: 768px) {
  .faq_section .accordion .accordion-item .accordion-button {
    border-radius: 16px;
    padding: 24px 45px 24px 24px;
    font-weight: 500;
    font-size: 24px;
    width: 100%;
    border-bottom: none;
  }
}
.faq_section .accordion .accordion-item .accordion-button.collapsed {
  /* border: 8px solid rgba(55, 125, 255, 0.3); */
  border-radius: 20px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .faq_section .accordion .accordion-item .accordion-button.collapsed {
    font-size: 15px;
    line-height: 22px;
  }
}
.faq_section .accordion .accordion-item .accordion-button:not(.collapsed) {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 12px;
  background-color: #ffffff;
  color: #141f39;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .faq_section .accordion .accordion-item .accordion-button:not(.collapsed) {
    font-size: 15px;
    line-height: 22px;
  }
}
.faq_section
  .accordion
  .accordion-item
  .accordion-button:not(.collapsed)::after {
  background-color: #fff;
  color: #6b9c64;
}
.faq_section .accordion .accordion-item .accordion-button::after {
  width: 0px;
  height: 0px;
  background-size: 1rem;
  background-position: center;
  position: absolute;
  right: 23px;
  /* background-color: #6b9c64; */
  border-radius: 30px;
}
.faq_section .accordion .accordion-item .accordion-button::before {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  content: "";
  position: absolute;
  right: 14px;
  border-radius: 32px;
  z-index: -1;
}
/* .faq_section .accordion .accordion-item .accordion-button:focus {
    box-shadow: none;
  } */
.faq_section .accordion .accordion-item .accordion-collapse {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 400%;
  /* border: 8px solid #377dff; */
  border-top: none;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .faq_section .accordion .accordion-item .accordion-collapse {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 100%;
  }
}
.faq_section
  .accordion
  .accordion-item:last-of-type
  > .accordion-header
  .accordion-button.collapsed {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.faq_section .accordion .accordion-item .accordion-collapse .accordion-body {
  font-size: 16px;
  font-weight: 400;
  color: #5d6c7c;
  width: 80%;
  line-height: 30px;
  /* max-width: 580px; */
}
@media (max-width: 768px) {
  .faq_section .accordion .accordion-item .accordion-collapse .accordion-body {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
  }
}
