/* .footer {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 40px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer-column {
    gap: 10px;
  }
}
.footer-column-container {
  display: flex;
  gap: 30px;
  width: 100%;
}
@media (max-width: 400px) {
  .footer-column-container {
    gap: 0px;
  }
}
@media (min-width: 400px) {
  .footer-column-container {
    gap: 20px;
  }
}
.footer-row {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer-row {
    gap: 20px;
  }
}
.footer-logo {
  width: 159px;
  height: 50px;
}
@media (max-width: 768px) {
  .footer-logo {
    width: 120px;
    height: 37px;
  }
}
.phone-icon {
  width: 32px;
  height: 32px;
}
@media (max-width: 768px) {
  .phone-icon {
    width: 24px;
    height: 24px;
  }
}
.footer-contact {
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: Black;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-contact {
    gap: 10px;
  }
}
.footer-contact p {
  font-size: 16px;
  font-weight: 400;
  color: #141f39;
  margin: 0;
}
.footer-column.address {
  width: 30%;
}
@media (max-width: 768px) {
  .footer-column.address {
    width: 100%;
  }
}
.footer-title {
  font-size: 18px;
  font-weight: 600;
  color: #141f39;
  margin-top: 0;
}
@media (max-width: 768px) {
  .footer-title {
    font-size: 16px;
  }
}
.footer-address-title {
  font-size: 18px;
  font-weight: 600;
  color: #1b1b1b;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .footer-address-title {
    font-size: 16px;
  }
}
.footer-desc {
  font-size: 16px;
  font-weight: 400;
  color: #141f39;
  margin-top: 0;
  opacity: 70%;
}
@media (max-width: 768px) {
  .footer-desc {
    font-size: 14px;
    font-weight: 300;
    opacity: 80%;
    width: 100%;
  }
}
.footer-nav {
  text-decoration: none;
  color: #141f39;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .footer-nav {
    font-size: 15px;
    font-weight: 300;
  }
}
.social-icons {
  display: flex;
  gap: 12px;
}
@media (max-width: 768px) {
  .social-icons {
    display: none;
  }
}
.social-icons-responsive {
  display: none;
}
@media (max-width: 768px) {
  .social-icons-responsive {
    display: flex;
    gap: 12px;
  }
}
.footer-bottom {
  text-align: center;
  background-color: #7e8a9729;
  padding: 1% 0;
  color: #141f39;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 768px) {
  .footer-bottom {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
} */
.Footerlayer1 {
  position: absolute;
  top: -5%;
  left: 22%;
  width: 120px;
  height: 115px;
}
.Footerlayer2 {
  position: absolute;
  top: 60%;
  left: 82%;
  width: 42px;
  height: 85px;
}
.footer {
  padding: 5%;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.company-info {
  width: 25%;
}

.footer-logo {
  width: 159px;
  height: auto;
}

.footer-title {
  font-size: 18px;
  font-weight: 600;
  color: #141f39;
  /* margin-bottom: 5px; */
}

.footer-desc {
  font-size: 16px;
  font-weight: 400;
  color: #141f39;
  margin: 0;
  opacity: 70%;
}

.footer-contact {
  text-decoration: none;
  color: #141f39;
  font-size: 16px;
  font-weight: 400;
}

.footer-nav {
  text-decoration: none;
  color: #141f39;
  font-size: 16px;
  font-weight: 400;
}

.social-icons {
  display: flex;
  gap: 17px;
}

.social-icons img {
  width: 32px;
  height: 32px;
}
.footer-bottom {
  text-align: center;
  background-color: #7e8a9729;
  padding: 1% 0;
  color: #141f39;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 768px) {
  .footer-bottom {
    font-size: 14px;
  }
}
/* Responsive Styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer-column {
    width: 100%;
  }

  .social-icons {
    justify-content: center;
  }
}
