.Glayer1 {
  position: absolute;
  left: 10%;
  top: -10%;
}
@media (max-width: 768px) {
  .Glayer1 {
    left: 2%;
    top: -5%;
  }
}
.Glayer2 {
  position: absolute;
  left: 80%;
  top: 90%;
}
@media (max-width: 768px) {
  .Glayer2 {
    left: 85%;
    top: 90%;
  }
}
.Glayer3 {
  position: absolute;
  left: 15%;
  top: 0%;
}
@media (max-width: 768px) {
  .Glayer3 {
    left: 5%;
    top: -8%;
  }
}
.Glayer4 {
  position: absolute;
  left: 75%;
  top: 70%;
}
@media (max-width: 768px) {
  .Glayer4 {
    left: 85%;
    top: 20%;
  }
}
.Glayer20 {
  position: absolute;
  left: 25%;
  top: 70%;
}
@media (max-width: 768px) {
  .Glayer20 {
    left: 10%;
    top: 70%;
  }
}
.Glayer21 {
  position: absolute;
  left: 75%;
  top: 70%;
}
@media (max-width: 768px) {
  .Glayer21 {
    left: 80%;
    top: 70%;
  }
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  position: relative;
}
@media (max-width: 768px) {
  .hero-section {
    margin-top: 10%;
  }
}
.hero-title {
  font-size: 56px;
  font-weight: 600;
  color: #1b1b1b;
  width: 70%;
  text-align: center;
}
@media (max-width: 768px) {
  .hero-title {
    font-size: 24px;
    width: 75%;
    text-align: center;
  }
}
.hero-description {
  font-size: 18px;
  font-weight: 400;
  color: #1b1b1b;
  opacity: 80%;
  width: 60%;
  text-align: center;
  line-height: 34px;
}
@media (max-width: 768px) {
  .hero-description {
    font-size: 15px;
    width: 80%;
    line-height: 22.5px;
  }
}
.service-container {
  margin-top: 15%;
  position: relative;
}
@media (max-width: 768px) {
  .service-container {
    margin-top: 25%;
  }
}
.cta-container {
  background-color: #473fe1;
  border-radius: 50px;
  margin: 8% 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cta-container {
    margin: 15% 5%;
    padding: 10% 5%;
    gap: 10px;
    border-radius: 30px;
  }
}
.cta-title {
  font-size: 56px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  line-height: 78.4px;
}
@media (max-width: 768px) {
  .cta-title {
    font-size: 24px;
    text-align: center;
    line-height: 33.6px;
  }
}
.cta-subtitle {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  color: #ffffff;
  text-align: center;
  width: 40%;
  line-height: 34px;
}
@media (max-width: 768px) {
  .cta-subtitle {
    font-size: 14px;
    line-height: 21px;
    width: 90%;
  }
}
.enroll-button {
  font-size: 16px;
  font-weight: 500;
  width: 176px;
  height: 56px;
}
@media (max-width: 768px) {
  .enroll-button {
    font-size: 15px;
    width: 134px;
    height: 44px;
  }
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 40px;
  margin: 5%;
}
.image-container {
  border-radius: 30px;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
