.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1% 5%;
}

.header-logo img {
  width: 242px;
  height: 34px;
}

.header-nav {
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: #1b1b1b;
}

.nav-link:focus {
  color: #0780fd;
}
