.layer1 {
  position: absolute;
  left: 3%;
  top: 20%;
}
.layer2 {
  position: absolute;
  left: 20%;
  top: 70%;
}
.layer3 {
  position: absolute;
  left: 3%;
  top: 10%;
}
.layer4 {
  position: absolute;
  left: 95%;
  top: 60%;
}
.layer5 {
  position: absolute;
  left: 20%;
  top: 10%;
}
.layer6 {
  position: absolute;
  left: 85%;
  top: 30%;
}
.layer7 {
  position: absolute;
  left: 50%;
  top: 0%;
}
.layer8 {
  position: absolute;
  left: 85%;
  top: 10%;
}
.layer9 {
  position: absolute;
  left: 5%;
  top: 8%;
}
.layer10 {
  position: absolute;
  left: 30%;
  top: 70%;
}
.layer11 {
  position: absolute;
  left: 25%;
  top: 0%;
}
.layer12 {
  position: absolute;
  left: 75%;
  top: 15%;
}
.layer13 {
  position: absolute;
  left: 20%;
  top: 0%;
}
.layer14 {
  position: absolute;
  left: 30%;
  top: 0%;
}
.layer15 {
  position: absolute;
  left: 65%;
  top: 10%;
}
.layer16 {
  position: absolute;
  left: 40%;
  top: 5%;
}
.layer17 {
  position: absolute;
  left: 70%;
  top: 22%;
}
.layer18 {
  position: absolute;
  left: 25%;
  top: 8%;
}
.layer19 {
  position: absolute;
  left: 27%;
  top: 70%;
}
.layer20 {
  position: absolute;
  left: 25%;
  top: 70%;
}
.layer21 {
  position: absolute;
  left: 75%;
  top: 70%;
}
.Glayer3 {
  position: absolute;
  left: 15%;
  top: 0%;
}
.Glayer4 {
  position: absolute;
  left: 75%;
  top: 70%;
}
.main-div {
  display: flex;
  gap: 40px;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: #0780fd !important;
}
.main-text {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.main-text-title {
  color: #1b1b1b;
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 0;
  width: 80%;
  line-height: 84px;
}
.main-text-sub-title {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  width: 70%;
  opacity: 80%;
}
.customer-image {
  width: 481px;
  height: 458px;
}
.customer-image-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
.stats-grid {
  border-radius: 40px;
  background-color: #473fe129;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 8% 5%;
  padding: 4%;
  gap: 20px;
  justify-content: space-evenly;
  position: relative;
}

.stat-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.stat-item h4 {
  font-size: 62px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #473fe1;
}

.stat-item p {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  color: #1b1b1bcc;
}
.services-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
.services-text {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.services-title {
  color: #1b1b1b;
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 0;
  width: 100%;
  line-height: 110%;
}
@media (max-width: 768px) {
  .services-title {
    font-size: 24px;
    width: 70%;
    line-height: 36px;
  }
}
.services-sub-title {
  color: #1b1b1bb2;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 40%;
  line-height: 34px;
}
@media (max-width: 768px) {
  .services-sub-title {
    font-size: 15px;
    width: 85%;
    line-height: 22.5px;
  }
}
.services-card-container {
  display: flex;
  gap: 24px;
  padding-left: 5%;
  padding-right: 5%;
}
.services-card {
  width: 100%;
  border-radius: 40px;
  position: relative;
  padding: 30px;
  transition: transform 0.3s ease;
  display: flex;
  gap: 20px;
  background-color: #473fe1;
}
.services-card:hover {
  transform: translateY(-20px);
}
/* .services-card .fa-arrow-right-long {
  visibility: hidden;
  transition: visibility 0.3s ease, transform 0.3s ease;
} */
/* .services-card:hover .fa-arrow-right-long {
  visibility: visible;
  transform: translateX(5px);
  color: #0780fd;
} */
.service-card-title {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}
.service-card-description {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  margin-top: 0;
}
.card-image {
  display: flex;
}
.about-us-container {
  display: flex;
  gap: 70px;
  margin-top: 8%;
  position: relative;
}
.about-image {
  width: 708px;
  height: 466px;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-size: 56px;
  font-weight: 600;
}

.about-description {
  font-size: 18px;
  font-weight: 400;
  width: 80%;
}
.why-choose-us-container {
  background-color: #473fe1;
  display: flex;
  margin-top: 8%;
  padding: 5% 6%;
  position: relative;
}
.why-choose-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.why-choose-title {
  font-size: 56px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  line-height: 84px;
}

.why-choose-description {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  opacity: 80%;
  width: 70%;
  line-height: 28px;
}
.benefit-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.benefit-img {
  width: 46px;
  height: 46px;
}

.benefit-title {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.benefit-description {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  width: 70%;
  opacity: 80%;
}

.upcoming-batch {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 8%;
  position: relative;
}
.Gallery-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Gallery-sub-title {
  color: #1b1b1bb2;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 60%;
  line-height: 34px;
}
.gallery-images-row1 {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 5%;
  width: 100%;
}
.gallery-images-column {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.gallery-images-row2 {
  display: flex;
  gap: 18px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}
.faq-title {
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0%;
}
.faq-sub-title {
  font-size: 18px;
  font-weight: 400;
  opacity: 80%;
  text-align: center;
  color: #1b1b1bb2;
  line-height: "140%";
  width: 30%;
  margin-bottom: 0;
}
.faq-content {
  width: 100%;
  padding-right: 35%;
  display: flex;
  align-items: center;
  margin-top: 5%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  /* width: 700px; */
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 600px));
  gap: 80px;
  justify-content: center;
  align-items: center;
}
.col-lg-6 {
  flex: 0 0 auto;
  /* width: 100%; */
}
.accordion-header {
  /* working */
  margin-bottom: 0;
  /* width: 240%; */
}
.faq_section {
  width: 100%;
  position: relative;
  @media (max-width: 991px) {
    overflow: hidden;
  }
}
.faq_section .content {
  position: relative;
}
.faq_section .content::after {
  content: "";
  /* background-color: rgb(38, 0, 255); */
  width: 500px;
  height: 200px;
  position: absolute;
  top: 400px;
  left: 0;
  filter: blur(200px);
  z-index: -2;
}
.faq_section .accordion {
  border: 0;
}
.faq_section .accordion .accordion-item {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: 0;
  color: #fff;
}
.faq_section .accordion .accordion-item .accordion-button {
  background-color: #fff;
  box-shadow: none;
  border-radius: 16px;
  padding: 24px 45px 24px 24px;
  font-weight: 500;
  font-size: 24px;
  width: 400%;
  /* border: 8px solid #377dff; */
  border-bottom: none;
}
.faq_section .accordion .accordion-item .accordion-button.collapsed {
  /* border: 8px solid rgba(55, 125, 255, 0.3); */
  border-radius: 16px;
  background-color: #473fe11f;
}
.faq_section .accordion .accordion-item .accordion-button:not(.collapsed) {
  border-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-bottom: 12px;
  background-color: #473fe1;
  color: #ffffff;
}
.faq_section
  .accordion
  .accordion-item
  .accordion-button:not(.collapsed)::after {
  background-color: #fff;
  color: #6b9c64;
}
.faq_section .accordion .accordion-item .accordion-button::after {
  width: 0px;
  height: 0px;
  background-size: 1rem;
  background-position: center;
  position: absolute;
  right: 23px;
  /* background-color: #6b9c64; */
  border-radius: 30px;
}
.faq_section .accordion .accordion-item .accordion-button::before {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  content: "";
  position: absolute;
  right: 14px;
  border-radius: 32px;
  z-index: -1;
}
/* .faq_section .accordion .accordion-item .accordion-button:focus {
  box-shadow: none;
} */
.faq_section .accordion .accordion-item .accordion-collapse {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 400%;
  /* border: 8px solid #377dff; */
  border-top: none;
  background-color: #473fe1;
}
.faq_section
  .accordion
  .accordion-item:last-of-type
  > .accordion-header
  .accordion-button.collapsed {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.faq_section .accordion .accordion-item .accordion-collapse .accordion-body {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 80%;
  line-height: 30px;
  /* max-width: 580px; */
}
.carousel-item-padding {
  padding: 20px;
  padding-top: 1%;
}
.testimonials-heading {
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  color: #1b1b1b;
  margin-top: 8%;
}
@media (max-width: 576px) {
  .testimonials-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
  }
}
.testimonial-card1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 7%;
  border-radius: 20px;
  background-color: #473fe1;
  position: relative;
}

.testimonial-name {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0;
  line-height: 28px;
}

.testimonial-description {
  font-size: 14px;
  font-weight: 400;
  color: #ededed;
}
.react-multiple-carousel__arrow::before {
  font-size: 20px;
  color: #1b1b1b !important;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
}
.react-multiple-carousel__arrow:hover {
  background-color: #0780fd !important;
}
.react-multi-carousel-item {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  /* width: 428px !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.custom-arrow {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  background: #473fe1;
  border: none;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  cursor: pointer;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-arrow-left {
  left: 81%;
}

.custom-arrow-right {
  right: 10%;
}

@media (max-width: 576px) {
  .custom-arrow-left {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .custom-arrow-right {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }
}
.custom-dots {
  text-align: center;
}

.custom-dots li {
  display: inline-block;
  margin: 0 5px;
}

.custom-dots li button {
  border: none;
  background-color: #ffffff66;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dots li.react-multi-carousel-dot--active button {
  background-color: #cee531;
  border-radius: 10px;
  width: 30px;
  height: 8px;
  transition: all 0.3s ease;
}

.react-multi-carousel-list {
  /* // width: 100% !important; */
  margin: 0 auto;
  padding: 0 !important;
}

.react-multi-carousel-track {
  display: flex;
  gap: 0;
}

.react-multi-carousel-item {
  /* width: 100% !important; */
  margin: 0 !important;
}
.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: white;
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}
